/* imports */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Grotesk', sans-serif;
  background-color: black;
  color: black;
  background-image: url(cropped-KulturKur2024_Post01.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  font-family: 'Audiowide', sans-serif;
}

p {
  margin-bottom: 2rem;
  text-align: center;
}

header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 150px;
  width: 100%;
  padding: 20px 50px;
  /* background-color: #333; */
  background-size: cover;
  color: white;
  /* border-bottom: 50px solid #FF00BB; */
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom;
  animation: rollAway .5s ease-out forwards;
}

@keyframes rollAway {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}


#logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-family: 'Audiowide', cursive;
  font-size: 5rem;
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#hamburger-icon, #info {
  /* These styles ensure that the left and right elements do not grow and are aligned properly */
  flex-grow: 0;
  display: flex;
  justify-content: center;
}

#hamburger-icon-container, #info {
min-width: 200px;
}

header #info {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif;
  text-align: right;
}

/* main {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
} */


/* ---------- header ---------- */

/* navigation */

nav {
  display: flex;
  justify-content: center;
  top: 150px;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  background-color: #FF00BB;
  width: 100%;
  height: 0;
  visibility: hidden;
} 

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 100%;
}
nav ul li {
  cursor: pointer;
  width: 100%;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  transition: background-color 0.5s ease;
}
nav ul li:hover {
  background-color: white;
}

nav ul li a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.5s ease;
}
nav ul li:hover a {
  color: black;
}

/*
nav ul li a:hover {
  color: gray;
} */



/* Hamburger Icon */
header #hamburger-icon {
    display: block;
    cursor: pointer;
    width: 50px;
    scale: .9;
    transition: scale 0.3s ease-in;
}

header #hamburger-icon:hover {
  scale: 1;
}


header #hamburger-icon:hover div {
    cursor: pointer;
    background-color: #FF00BB;
}


header #hamburger-icon div {
    margin: 7px;
    height: 7px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }
/* open animation */

header #hamburger-icon.open {
    transform: translateX(25%);
}

header #hamburger-icon.open div:first-child {
   transform: rotate(45deg) translate(0, 20.5px);
}
header #hamburger-icon.open div:nth-child(2) {
   opacity: 0;
}
header #hamburger-icon.open div:last-child {
   transform: rotate(-45deg) translate(0, -20.5px);
}

/* Menu Animation */

/* close */
  @keyframes shrink {
      0% {
        height: calc(6rem	* 4);
        font-size: 2rem;
      }
      50% {
        height: 0px;
        font-size: 0;
      }
      100% {
        height: 0px;
        font-size: 0;
        visibility: hidden;
      }
  }

  .nav-shrink {
    animation-name: shrink;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 1; */
    animation-timing-function: ease-in-out;
  }

  /* open */
  @keyframes grow {
    0% {
      height: 0px;
      font-size: 0px;
    }
    50% {
      height: calc(6rem	* 4);
      font-size: 0rem;
    }
    100% {
      height: calc(6rem	* 4);
      font-size: 2rem;
      visibility: visible;
    }
  }

  .nav-grow {
    animation-name: grow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-iteration-count: 1; */
    animation-timing-function: ease-in-out;
  } 

  /* Home Section */

  section { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* min-height: 500px; */
    background-color: black;
    color: white;
  }

  #home{
    height: calc(100vh - 150px);
  }

  #home-video {
    position: absolute;
    top: calc(150px + 2rem);
    margin: 0 2rem;
    width: calc(100% - 4rem)!important;
    height: calc(100% - 150px - 4rem)!important; /* 100% - 150px for the header and 1rem */
    border-radius: 2rem!important;
  }

  #description-box, .areas-box {
    flex-direction: column;
    justify-content: start;
    margin: 1rem 2rem;
    padding: 2rem;
    width: calc(100% - 4rem);
    border-radius: 2rem;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 10;
  }

  /* Initial state for elements */
  #description-box * {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  #description-box .right {
    transform: translateX(50%);
  }

  #description-box .appear {
    transform: translateX(0);
  }

  /* Reveal animations */
  #description-box .reveal-left {
    opacity: 1;
    transform: translateX(0);
  }

  #description-box .reveal-right {
    opacity: 1;
    transform: translateX(0);
  }
  #description-box .reveal-appear {
    opacity: 1;
  }	

  #subscribe {
    flex-direction: column;
    height: auto;
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    color: #FF00BB;
    overflow: hidden;
  }

  #subscribe-content {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  #subscribe-content.reveal {
    opacity: 1;
    transform: translateY(0);
  }

  #subscribe-content input {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #FF00BB;
    background-color: #FF00BB;
    font-size: 2rem;
    font-weight: 600;
    scale: .9;
    transition: transform 1s ease-out, scale 0.3s ease-in, color 0.3s ease-in;
  }

  #subscribe-content input:hover,
  #subscribe-content.reveal input:hover
  {
    color: white;
    scale: 1;
  }
  
  #subscribe-content.reveal input {
    transform: translateY(0) scale(0.9);
  }

  #banner {
    background-color: transparent;
  }

  #banner-frame {
    margin: 1rem 2rem;
    width: 100%;
    height: calc(750px - 4rem);
    background-color: transparent;
    border-radius: 2rem;
    box-shadow: 0 0 0 4rem #000000;
  }

  #areas {
  flex-direction: column;
  }